$primary-color: #415A77;
$secondary-color: #1B263B;
$secondary-colorOpacity: #2A3A5A;
$shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
$font-family-base: "K2D", sans-serif;
$font-weight-base: 400;
$font-style-base: normal;
$breakpoint-mobile: 480px;
$breakpoint-desktop: 1024px;
