$primary-color: #003049;
$light-primary-color: #003958;
$secondary-color: #669bbc;
$thirdly-color: #fdf0d5;
$standard-red: #FF0000;
$standard-yellow: #FFD700;
$standard-green: #00FF00;
$shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
$font-family-base: "K2D", sans-serif;
$font-weight-base: 400;
$font-style-base: normal;
$breakpoint-mobile: 480px;
$breakpoint-desktop: 1024px;
