$primary-color: #e7dfc6;
$secondary-color: #2274a5;
$secondary-colorOpacity: #2274a5;
$font-family-base: "K2D", sans-serif;
$font-weight-base: 400;
$font-style-base: normal;
$breakpoint-mobile: 480px;
$breakpoint-desktop: 1024px;
