.eventCreationContainer {
  height: 100vh;
  font-family: $font-family-base;
  overflow: hidden;
  .yourEventsContainer {
    height: 35vh;
    margin: 20px 100px;
    border-radius: 4px;
    box-shadow: $shadow;
    padding-bottom: 20;
    transition: height 1.5s ease-out;

    .navBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      h1 {
        font-size: x-large;
        font-weight: 200;
        color: $thirdly-color;
      }

      .addEventContainer{
        a {
          color: $secondary-color;
        }

        .addButton{
          margin-right: 30;
          cursor: pointer;
          height: 25px;
          width: 100px;
          border-radius: 4px;
          border: 0;
          background-color: #669bbc;
          color: white;
          font-family: "K2D", sans-serif;
          font-weight: 400;
          font-style: normal;
        }
      }
     
    }
    .eventContainer {
      display: flex;
      justify-content: center;
      height: 25vh;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  .yourEventsContainer.expand {
    height: 75vh;
  }
  .othersEventContainer {
    height: 40vh;
    margin: 20px 100px;
    border-radius: 4px;
    box-shadow: $shadow;
    opacity: 1;
    transition: opacity 2s ease-out;

    .navBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      h1 {
        font-size: x-large;
        font-weight: 200;
        color: $thirdly-color;
      }
        a {
          color: $secondary-color;
        }
    
    }
    .eventContainer {
      display: flex;
      justify-content: space-around;
    }
  }

  .hiddenContainer {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
}
