.eventCreationContainer {
  height: 100vh;
  font-family: $font-family-base;
  .yourEventsContainer {
    background-color: #003958;
    height: 35vh;
    margin: 20px 100px;
    border-radius: 4px;
    box-shadow: $shadow;
    .navBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      h1 {
        font-size: x-large;
        font-weight: 200;
        color: $thirdly-color;
      }
      a {
        color: $thirdly-color;
      }
    }
    .eventContainer {
      display: flex;
      justify-content: center;
      height: 25vh;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
