.carouselContainer {
  .carousel {
    .member {
      margin-top: 20px;
      font-family: $font-family-base;
      font-style: $font-style-base;
      color: $secondary-color;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1{
        font-weight: 400;
        color: white;
      }

      p{
        color: white;
      }

      img {
        width: 300px;
        height: 300px;
        border-radius: 4px;
        margin-bottom: 20px;
        box-shadow: $shadow;

      }
      button {
        cursor: pointer;
        width: 40%;
        margin: 0 10px;
        padding: 10px 25px;
        border-radius: 4px;
        border: 0;
        background-color: $secondary-color;
        color: white;
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-style: $font-style-base;
      }
    }
    .react-multiple-carousel__arrow--right {
      right: calc(2% + -1px);
      top: 290;
    }
    .react-multiple-carousel__arrow--left {
      left: calc(2% + -1px);
      top: 290;
    }
  }
}
