$primary-color: #F1E9D2;
$secondary-color: #011761;
$font-family-base: "K2D", sans-serif;
$font-weight-base: 400;
$font-style-base: normal;
$breakpoint-mobile: 480px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}